force-app/main/default/flows/PreencherNomeEscolaInstitutoSuperacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>VerificarPapelContato</name>
        <label>VerificarPapelContato</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>ApagarNomeEscola</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Competitivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PapelEquipe__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TreinadorCompetitivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarEscola_0</targetReference>
            </connector>
            <label>Competitivo?</label>
        </rules>
    </decisions>
    <description>Preencher o campo &quot;nome da escola&quot; com &quot;Instituto Superação&quot; quando o papel do contato for &quot;Treinador - Competitivo&quot;</description>
    <interviewLabel>P {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PreencherNomeEscolaInstitutoSuperacao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BuscarEscola_0</name>
        <label>BuscarEscola</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizarContato_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Instituto Superação</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ApagarNomeEscola</name>
        <label>ApagarNomeEscola</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PapelEquipe__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aluno</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarContato_0</name>
        <label>AtualizarContato</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>BuscarEscola_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerificarPapelContato</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
