force-app/main/default/flows/RelatorioProdutividade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RelatorioProdutividade</name>
        <label>Relatório de produtividade</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Não esqueça de preencher o relatório de produtividade.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>TipoNotificacao.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>https://sup-sandbox--superacao.lightning.force.com/lightning/o/AvaliacaoTutor__c/list</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Relatório de produtividade</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AtribuirId</name>
        <label>Atribuir Id</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUsuarios.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUsuarios</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dia_5</name>
        <label>Dia 5</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>HojeDia14ou30</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Hoje</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hoje</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PerfilTutor</targetReference>
            </connector>
            <label>Hoje é dia 14 ou 30?</label>
        </rules>
    </decisions>
    <formulas>
        <name>Hoje</name>
        <dataType>Number</dataType>
        <expression>DAY(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Relatório de produtividade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relatório de produtividade</label>
    <loops>
        <name>LoopUsuarios</name>
        <label>Loop usuários</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>Usuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuirId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TipoNotificacao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PerfilTutor</name>
        <label>Perfil tutor</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuarios</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tutor</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>IdPerfilTutor</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>TipoNotificacao</name>
        <label>Tipo de notificação</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatorioProdutividade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RelatorioProdutividade</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Usuarios</name>
        <label>Usuários</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopUsuarios</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPerfilTutor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dia_5</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-03</startDate>
            <startTime>21:48:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AvaliacaoTutor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AvaliacaoTutor__c</objectType>
    </variables>
    <variables>
        <name>Idperfiltreinador</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPerfilTutor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notificacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
